<div id="<%= dom_id item %>" class='trans-card'>
  <p style='padding: 0; margin: 0;' >
    <strong>Name:</strong>
    <%= item.name %>
  </p>

  <p style='padding: 0; margin: 0; font-size: small;'>
    <strong>Amount:</strong>
    <%= item.amount %>
  </p>

</div>